body {
    background: url(/images/bg.jpg) center bottom / cover no-repeat;
    display: flex;
    justify-content: center;
}

.content-container {
    margin-top: 10vh;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    
    @media (min-width: 640px) {
         max-width: 550px;
    }

    @media (min-width: 1125px) {
        margin-top: 20vh;
        max-width: 720px;
    }
}


.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &_group {
        margin-left: 2px;
        width: 100%;
        display: flex;
        flex-direction: column;

        @media (min-width: 1125px) {
            width: 100%;
            flex-direction: row;
        }
    }
}

.input {
    margin: 2px 0;
    height: 44px;
    padding: 0 16px;
    border: none;
    width: 100%;
    border-radius: 0;

    @media (min-width: 1125px) {
        margin: 0 1px;
    }

    &-field {
        @media (min-width: 1125px) {
            flex: 1 0 42%;
        }
    }

    &-button {
        padding: 0;
        background: #FD8F0F;
        color: #fff;
        transition: all ease 0.3s;

        @media (min-width: 1125px) {
            flex: auto;

            &:hover {
                background: lighten(#FD8F0F, 10%);
                cursor: pointer;
            }
        }
    }
}


.socials {
    margin-top: 35px;
}

.social {
    margin: 0 10px;
    display: inline-block;
    
    .icon svg {
        max-width: 40px;
        height: auto;
    }
}