/*
	Name: Let's Go Amigo Pre Launch Page
	Description: The pre launch page for the Let's Go Amigo travel app
	Version: 1.0.0
	Author: Matthew T Rader (@matthew_t_rader)
	Author URI: http://matthewtrader.com
*/

/*---------------------------------------------------------*\
                      Fonts
\*---------------------------------------------------------*/


@import url('https://fonts.googleapis.com/css?family=Corben:700');


/*---------------------------------------------------------*\
                      Variables
\*---------------------------------------------------------*/


$font: 'Oxygen', sans-serif;
$font-header: 'Corben', cursive;;

$font_color: #777;
$font-white-color: #ffffff;
$font_menu_color: #fff;
$font_body_color: #979797;

//colors
$bg_header_color: #fff;
$bg_body_color: #efefef;


/*---------------------------------------------------------*\
                      Partials
\*---------------------------------------------------------*/


@import 'core';
@import 'body';