html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Ariel, sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 2.4rem;
}

h2 {
    font-weight: 300;
}

h3 {
    font-weight: 300;
}